{% extends 'base.html' %}
{% block title %} search result {% endblock title %}
{% block bac %}active{% endblock bac %}

{% block body %}
<div class="container my-4">
  <div class="d-flex justify-content-center align-items-center my-3">
    <h2>Search results :</h2>
  </div>

  <div class="row mb-2">
  {% if apost|length < 1 %}
 <div><p>No search result found</p></div>
  {% endif %}
    {% for post in apost  %}
    
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger">Technology</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <h6 class="mb-0 text-info">-{{post.author}}</h6>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{ post.overview| truncatechars:75 }}</p>
          <a href="/blog/{{ post.slug }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="images/t1.jpg" alt="">
        </div>
      </div>
    </div>
    
    {% endfor %}
  </div>

  

</div>
{% endblock body %}